*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    cursor: default;
}

figcaption, input{ display: none; }

.img-cover img{ width: 90vw; }

.img-soon img{ width: 30vw; }

.contain{ width: 91vw; margin: 0 auto; }

    header .contain {
        height: 16vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .box-menu{ display: none; }

    .menu{
        background-color: #6D78A8;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 25px;
        right: 25px;
        box-shadow: 0 0 0 0 #6D78A8, 0 0 0 0 #6D78A8;
        transition: box-shadow .5s ease-in-out;
    }
        
    .menu-mobile{
        display: block;
        background-color: #000 ;
        width: 25px;
        height: 2px;
        position: relative;
        top: 24px;
        left: 12.5px;
        transition: .5s ease-in-out;
    }
        .menu-mobile:before, .menu-mobile:after{
            background-color: #000 ;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: .5s ease-in-out;
        }

        .menu-mobile:before{ top: -8px; }

        .menu-mobile:after{ bottom: -8px; }

input:checked ~ label .menu{
    box-shadow: 0 0 0 55vw #6D78A8, 0 0 0 55vh #6D78A8;
}

    input:checked ~ label .menu-mobile { transform: rotate(45deg); }

        input:checked ~ label .menu-mobile:after {
            transform: rotate(90deg);
            bottom: 0;
        }

        input:checked ~ label .menu-mobile:before {
            transform: rotate(90deg);
            top: 0%;
        }

input:checked ~ label .box-menu {
    display: flex;
    flex-direction: column;
    width: 42vw;
    position: absolute;
    top: -230px;
    right: 5px;
  
    animation-delay: 3s;
    transition-duration: 3s;
}

input:checked ~ label  .box-menu li {
    margin: 10px 0;
}

input:checked ~label .box-menu li a{
    padding: 10px;
    display: block;
    background-color: aquamarine;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: Helvetica;
    font-weight: 600;
    border: 2px solid transparent;
}

input:checked ~label .box-menu li:hover a{ border: 2px solid #08367c; }

p {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

p::after{
    display: block;
    content: " ";
    padding: 5px;
}

footer{ background-color: #888faf; }

    .footer-align{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media ( min-width: 698px ) { .img-soon img { width: auto; } }

@media ( min-width: 1008px ) { .img-cover img { width: 900px; } .contain{ width: 900px; } }